extend layout
block content
  p.lead Как со мной можно связаться
  address
    strong
        Смолянин Антон

    div
    |Телефон: +7(981) 734-7680
    div
    |Вконтакте:&nbsp
    a(href="http://vk.com/monstadolls") http://vk.com/monstadolls
    div
    |Email:&nbsp
    a(href="mailto:billy.topley@gmail.com") billy.topley@gmail.com
